In [ ]:


additional_curve <- dats %>% 
  group_by(subNames) %>% mutate(BOLD_1 = BOLD[time == 1]) %>% ungroup %>%
  group_by(time) %>%
  mutate(Z = (BOLD-BOLD_1)/BOLD_1) %>%
  summarise(mean_Z = mean(Z, na.rm = TRUE))

additional_curve <- dats %>%
  group_by(subNames) %>% mutate(BOLD_1 = BOLD[time == 1]) %>% ungroup %>%
  group_by(time) %>%
  mutate(Z = (BOLD-BOLD_1)) %>%
  group_by(time) %>%
  summarise(mean_Z = mean(Z, na.rm = TRUE)/5)


dats_groups %>% 
  filter(met == 'Glx', condition == 'act') %>% 
  group_by(subNames) %>% 
  mutate(MetValue_1 = MetValue[time == 1]) %>%
  mutate(Z = (MetValue-MetValue_1)/MetValue_1) %>% 
  ungroup() %>% 
  ggplot(aes(x = time*2-2, y = Z)) +  # Added group aesthetic
  geom_jitter(aes(color = group), size = 2, alpha = 0.7, width = 0.1) +
  stat_summary(aes(color = group, group = group), fun = mean, geom = "line", size = 1) +
  stat_summary(aes(color = group, group = group), fun = mean, geom = "point", shape = 20, size = 5) +
  stat_summary(aes(color = group, group = group), fun.data = mean_se, geom = "errorbar", width = 0.15, size = 1, 
               alpha = 0.9, linetype = "solid") +
  xlab("Time, s") + ylab("change of [Glx], mM") +
  theme_minimal() + geom_line(data = additional_curve, 
            aes(x = time*2-2, y = mean_Z), 
            color = "#EDC948", size = 2, linetype = "dashed")

In [3]:
library(dplyr)
library(tidyverse)
library(tidyr)

In [7]:
#get data
batch_preprocessing <- function(bold, Cr, group_number, metName, conditonName) {
  if (bold==0) {
  #get data
  datsInit <- read.csv('C:\\Users\\Science\\YandexDisk\\Work\\data\\fMRS-hp\\results\\spectraDynamic_sm.csv')
  } else {
  #bold-corrected dAta
  datsInit <- read.csv('C:\\Users\\Science\\YandexDisk\\Work\\data\\fMRS-hp\\results\\spectra-TP6-SM-BC.csv')
  }
  
  subjectNames <- paste0("sub_", 1:32)
  dats <- datsInit %>% mutate(subNames = subjectNames) 
  #exclude subjects QA
  #excludedSubjects <- c(1:6, 8, 9, 10, 11, 13, 17, 20, 22, 23,26, 28, 32 )
  excludedSubjects <- c(1:6, 9, 11, 13, 26, 28, 22 ) # Due to the bad quality MRS
  dats <- dats[-excludedSubjects,]
  
  if (bold==0) {
  #pivot column
  dats <- dats %>% pivot_longer(cols = "act_NAA_tp_01_sm":"sham_Glx_tp_06_sm",
                                names_to = "time",
                                values_to = "MetValue") %>% select(subNames, time, MetValue)
  dats <- dats %>% separate_wider_delim(time, delim = "_tp_", names = c("condition", "time"))
  dats <- dats %>% separate_wider_delim(condition, delim = "_", names = c("condition", "met"))
  dats$time = gsub('_sm','',dats$time)
  dats$time <- as.numeric(dats$time) }
  else {
    dats <- dats %>% pivot_longer(cols = "act_NAA_tp_01_sm_bc":"act_Glx_tp_06_sm_bc",
                                  names_to = "time",
                                  values_to = "MetValue") %>% select(subNames, time, MetValue)
    dats <- dats %>% separate_wider_delim(time, delim = "_tp_", names = c("condition", "time"))
    dats <- dats %>% separate_wider_delim(condition, delim = "_", names = c("condition", "met"))
    dats$time = gsub('_sm_bc','',dats$time)
    dats$time <- as.numeric(dats$time)
  }
  
  # groups_1 <- c(17, 22, 20, 8, 32, 19, 23, 29, 31, 15)
  # groups_2 <- c(14, 7, 24, 30, 10, 21, 25, 12, 27, 16, 18)
  
  groups_1 <- c(17, 20, 8, 32, 19, 23, 29, 31, 15, 14)
  groups_2 <- c(7, 24, 30, 10, 21, 25, 12, 27, 16, 18)

  #exclude 6th data point
  dats <- dats[-(which(dats$time %in% 6)),]
  
  #add column for grouping
  dats$group = 1
  sub_groups_2 <- paste0("sub_", groups_2)  
  if (group_number==1) {
    sub_groups <- paste0("sub_", groups_1)
  } else {
    sub_groups <- paste0("sub_", groups_2)
  }
  
  if (Cr==1) {
    #Get normilised to Cr data
    dats_Cr <- dats %>% pivot_wider(names_from = met, values_from = MetValue) %>% 
      mutate(NAA_Cr = NAA/Cr,Glx_Cr = Glx/Cr ) %>% 
      select(subNames, condition, time, NAA_Cr, Glx_Cr) %>% 
      pivot_longer(cols = c("NAA_Cr", "Glx_Cr"), names_to = "met", values_to = "MetValue")
    # Creatine relative case
    dats_groups <- dats_Cr[(which(dats_Cr$subNames %in% sub_groups)),]
    metName <- paste0(metName, '_Cr')
    
  } else {
    # get needed group
    dats_groups <- dats[(which(dats$subNames %in% sub_groups)),]
  }
  dats[(which(dats$subNames %in% sub_groups_2)), 'group'] = 2
  return(dats)
  
}  

dats_groups <- batch_preprocessing(0, 0, 2, 'Glx', 'act')

ERROR: Error in pivot_longer(., cols = "act_NAA_tp_01_sm":"sham_Glx_tp_06_sm", : не могу найти функцию "pivot_longer"

In [1]:
##### FIND expected MRS BOLD CURVE
dats_hrf_mrs <- read.csv('C:/Users/Science/YandexDisk/Work/data/fMRS-hp/results/BOLD_MRS_hrf.csv')
subjectNames <- paste0("sub_", 1:32)
dats <- dats_hrf_mrs %>% mutate(subNames = subjectNames) 
#exclude subjects QA
#excludedSubjects <- c(1:6, 8, 9, 10, 11, 13, 17, 20, 22, 23,26, 28, 32 )
excludedSubjects <- c(1:6, 9, 11, 13, 26, 28, 22 ) # Due to the bad quality MRS
dats <- dats[-excludedSubjects,]

dats <- dats %>% pivot_longer(cols = "X01":"X06",
                              names_to = "time",
                              values_to = "BOLD")
dats$time = gsub('X','',dats$time)
dats$time <- as.numeric(dats$time)
dats <- dats[-(which(dats$time %in% 6)),]

#add column for grouping
groups_2 <- c(7, 24, 30, 10, 21, 25, 12, 27, 16, 18)
dats$group = 1
sub_groups_2 <- paste0("sub_", groups_2)

ERROR: Error in dats_hrf_mrs %>% mutate(subNames = subjectNames): не могу найти функцию "%>%"